.campoSelecao{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.campoSelecao label {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}

.campoSelecao select {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    padding: 24px;
}